




.react-rte a {
    color: blue;
}

.react-rte h1 {
    font-size: larger;
    font-weight: bold;
}

.react-rte h2 {
    font-size: large;
    font-weight: bold;
}

.public-DraftStyleDefault-ltr {
    text-align: inherit;
}